* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(/Images/Image\ 1.jpg);
}
.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: red;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.nav ul li {
  display: inline-block;
  padding: 10px 30px;
}
.nav ul li a {
  color: white;
  text-decoration: none;
}
.nav ul li a:hover {
  color: red;
}
.btn {
  background-color: red;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.6s;
}
.btn:hover {
  transform: scale(1.1);
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
}
h1 {
  color: white;
  margin: 20px 0 20px 0;
  font-size: 70px;
}
h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
h4 {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}
.newsletter form {
  width: 400px;
  max-width: 100%;
  position: relative;
}
.newsletter form input:first-child {
  width: 100%;
  display: inline-block;
  padding: 16px 130px 14px 15px;
  border: 2px red solid;
  border-radius: 30px;
}
.newsletter form input:last-child {
  position: absolute;
  display: inline-block;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: red;
  color: white;
  top: 6px;
  right: 6px;
}
.share {
  padding: 10px;
}
.share facebook {
  padding: 10px;
}
.share instagram {
  padding: 10px;
}
.share linkedin {
  padding: 10px;
}
.share twitter {
  padding: 10px;
}
